* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
}

body {
    background: #4974E2;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

mark {
    font-weight: bold !important;
    color: #000000 !important;
    background: none;
}

.box {
    display: flex;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.col {
    flex-direction: column;
}

.pointer {
    cursor: pointer;
}

.center {
    align-items: center;
}

.gray--color {
    color: rgba(0, 0, 0, 0.28);
}

.black--color {
    color: #000000;
}

.w20 {
    width: 20%;
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w45 {
    width: 45%;
}

.w50 {
    width: 50%;
}

.w100 {
    width: 100%;;
}

.px-15p {
    padding: 0 15px;
}

.ml-4 {
    margin-left: 16px;
}

.ml-5 {
    margin-left: 20px;
}

.ml-8 {
    margin-left: 32px;
}

.mt-2hf {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 12px;
}