* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
}

main {
    background: #4974E2;
    width: 100%;
    min-height: 872px;
    position: absolute;
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.pointer {
    cursor: pointer;
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w45 {
    width: 45%;
}

.ml-5 {
    margin-left: 20px;
}

.ml-8 {
    margin-left: 32px;
}

.mt-3 {
    margin-top: 12px;
}